# Claude Code
CLAUDE.md

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Build
build/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (на случай добавления в будущем)
Pods/
Podfile.lock

# Fastlane (на случай добавления в будущем)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Env / secrets
*.env
.env*
GoogleService-Info.plist
docs/design/
